<%= form_with model: post do |f| %>
  <div class="form-group">
    <%= f.label "本のタイトル" %><br/>
    <%= f.text_field :title, class: 'form-control post_title' %>
  </div>
  <div class="form-group">
    <%= f.label "感想" %><br/>
    <%= f.text_area :body, class: 'form-control post_body' %>
  </div>

  <div class="form-group text-center">
    <% if request.fullpath.include?("edit") %>
      <%= f.submit '更新', class: 'btn btn-success' %>
    <% else %>
      <%= f.submit '投稿', class: 'btn btn-success' %>
    <% end %>
  </div>
<% end %>