<div class='container'>
  <div class="form-group row">
    <div class="col-12">
      <h3 class="text-center">投稿の詳細</h3>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-1 bottom-space2">
      <%= link_to user_path(@post.user) do %>
        <%= image_tag @user.get_profile_image, size: '70x70' %>
        <%= @user.name %>
      <% end %>
    </div>
    <div class="col-9">
      <h5><%= link_to @post.title, @post, class: "post_#{@post.id}" %></h5>
      <p class="line-break"><%= @post.body %></p>
    </div>
    <div class="col-2">
      <p>いいね</p>
      <p><%= render "public/comments/counter", post: @post %></p>
    </div>
  </div>
  <% if @user == current_user %>
    <div class="form-group row">
      <div class="col-3 offset-3 text-center">
          <%= link_to "編集", edit_post_path(@post), class: 'btn btn-success w-75' %>
      </div>
      <div class="col-3 text-center">
          <%= link_to "削除", post_path(@post.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger w-75" %>
      </div>
    </div>
  <% end %>
  <div class="form-group row">
    <div class="col-12 border-bottom">
      <h4 class="text-center">投稿に対するコメント</h4>
    </div>
  </div>
  <div class='form-group row'>
    <%= render "public/comments/index", post: @post %>
  </div>
  <div class='form-group row'>
    <div class="col-12">
      <% if user_signed_in? %>
        <%= render "public/comments/form", post: @post, comment: @comment %>
      <% end %>
    </div>
  </div>
</div>