<div class='container'>
  <div class='form-group row'>
    <div class="col-12">
      <h3 class="text-center">ユーザー情報の編集</h3>
      <%= form_with model: @user, local: true do |f| %>
        <%= render 'layouts/errors', obj: @user %>
        <div class="form-group">
          <h5>プロフィール画像</h5>
          <%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %>
        </div>
        <div class="form-group">
          <h5>ニックネーム</h5>
          <%= f.text_field :name, class: "form-control name" %>
        </div>
        <div class="form-group">
          <h5>自己紹介文</h5>
          <%= f.text_area :information, class: "form-control information" %>
        </div>
        <div class="form-group text-center">
          <%= f.submit class: 'btn btn-success w-25' %>
          <%= link_to "退会する", unsubscribe_user_path , class:"btn btn-danger w-25" %>
        </div>
      <% end %>
    </div>
  </div>
</div>