<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <h1><%= link_to image_tag("titlelogo.png", alt: "Title Logo", size: "300x100"), "/" %></h1>

  <div class="right">
    <ul class="navbar-nav">
      <% if user_signed_in? && request.path.exclude?("/admin") %>
        <!--ユーザーがログインしていて、URLに"/admin"を含まない時 -->
        <li class="nav-item">
          <%= link_to "アバウト", about_path, class: "nav-link white" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link white dropdown-togglee navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ユーザー関連
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "マイページ", user_path(current_user), class: "nav-link dropdown-item" %><br>
            <%= link_to "ユーザー一覧", users_path, class: "nav-link dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link white dropdown-togglee navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            投稿関連
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "新規投稿", new_post_path, class: "nav-link dropdown-item" %><br>
            <%= link_to "投稿一覧", posts_path, class: "nav-link dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link white dropdown-togglee navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            グループ関連
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "新規グループ", new_group_path, class: "nav-link dropdown-item" %><br>
            <%= link_to "グループ一覧", groups_path, class: "nav-link dropdown-item" %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link white" %>
        </li>

      <% elsif admin_signed_in? %>
        <!-- 管理者がログインしている時 -->
        <li class="nav-item">
          <%= link_to "お知らせ一覧", admin_notices_path, class: "nav-link white" %>
        </li>
        <li class="nav-item">
          <%= link_to "ユーザー一覧",  admin_users_path, class: "nav-link white" %>
        </li>
        <li class="nav-item">
          <%= link_to "投稿一覧" , admin_posts_path, class: "nav-link white" %>
        </li>
        <li class="nav-item">
          <%= link_to "グループ一覧", admin_groups_path, class: "nav-link white" %>
        </li>
        <li class="nav-item">
          <%= link_to "タグ・ジャンル一覧", "admin_#_path", class: "nav-link white" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link white" %>
        </li>

      <% elsif !admin_signed_in? %>
        <!-- 管理者がログインしていない時 -->
        <li class="nav-item">
          <%= link_to "ログイン", new_admin_session_path, class: "nav-link white" %>
        </li>

      <% else !user_signed_in? && request.path.exclude?("/admin")%>
        <!-- ユーザーがログインしておらず、URLに"/admin"を含まない時 -->
        <li class="nav-item">
          <%= link_to "アバウト", about_path, class: "nav-link white" %>
        </li>
        <li class="nav-item">
          <%= link_to "投稿一覧", posts_path, class: "nav-link white" %>
        </li>
        <li class="nav-item">
          <%= link_to "グループ一覧", groups_path, class: "nav-link white" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link white" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link white" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>