<nav class="navbar navbar-expand-lg">
  <h1><%= link_to image_tag("titlelogo.png", alt: "Title Logo", size: "300x100"), "/" %></h1>

  <ul class="navbar-nav ml-auto">
    <% if customer_signed_in? %>
      <!--ユーザーがログインしている時 -->
      <li>
        <%= link_to "アバウト", "#", class: "btn btn-outline-dark" %>
      </li>
      <li>
        <%= link_to "マイページ", "#", class: "btn btn-outline-dark" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-togglee navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          投稿関連
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">新規投稿の作成</a>
          <a class="dropdown-item" href="#">投稿一覧</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-togglee navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          グループ関連
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">新規グループの作成</a>
          <a class="dropdown-item" href="#">グループ一覧</a>
        </div>
      </li>
      <li>
        <%= link_to "ログアウト", "#", method: :delete, class: "btn btn-outline-dark" %></li>
      </li>
      <li>
        <%= link_to "ログアウト", "#", method: :delete, class: "btn btn-outline-dark" %></li>
      </li>

    <% elsif admin_signed_in? %>
      <!-- 管理者がログインしている時 -->
      <li>
        <%= link_to "お知らせ一覧", "#", class: "btn btn-outline-dark" %>
      </li>
      <li>
        <%= link_to "会員一覧", "#", class: "btn btn-outline-dark" %>
      </li>
      <li>
        <%= link_to "投稿一覧" , "#", class: "btn btn-outline-dark" %>
      </li>
      <li>
        <%= link_to "グループ一覧", "#", class: "btn btn-outline-dark" %>
      </li>
      <li>
        <%= link_to "タグ・ジャンル一覧", "#", class: "btn btn-outline-dark" %>
      </li>
      <li>
        <%= link_to "ログアウト", "#", method: :delete, class: "btn btn-outline-dark" %>
      </li>

    <% elsif !admin_signed_in? %>
      <!-- 管理者がログインしていない時の表示 -->
      <li>
        <%= link_to "ログイン", "#", class: "btn btn-outline-dark" %>
      </li>

    <% else %>
      <!-- ユーザーがログインしていない時 -->
      <li>
        <%= link_to "アバウト", "#", class: "btn btn-outline-dark" %>
      </li>
      <li>
        <%= link_to "投稿一覧", "#", class: "btn btn-outline-dark" %>
      </li>
      <li>
        <%= link_to "新規登録", "#", class: "btn btn-outline-dark" %>
      </li>
      <li>
        <%= link_to "ログイン", "#", class: "btn btn-outline-dark" %>
      </li>
    <% end %>
  </ul>
</nav>