<!DOCTYPE html>
<html>
  <head>
    <title>Ototugumiann</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/66f851c2c7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Yuji+Syuku&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
